            header {
                display: flex;
                justify-content: space-between;
                background-color: #CCC5B9;
                border-bottom: 10px solid #000;
                padding: 10px 20px;
                    
            }

            nav {
                text-align: right;
            }

            a { display: inline-flex;
                align-items: center;
                color:#fff;
                font-size:20px;
                font-family: "Fira Code" Arial, Helvetica, sans-serif;
                font-weight:500;
                text-decoration: none;
                margin-right: 30px;
                
            }

            nav :before {
                content: "";
                background-color: #403D39;
                width: 10px;
                height: 10px;
                margin-right: 10px;
            }
            nav :hover:before {
                background-color: #EB5E28;
            }
 

                
              

