.header {
    display: flex;
    justify-content: space-between;
    background-color: #e71d36;
    border-bottom: 10px solid #011627;
    padding: 10px 20px;
    position: sticky;
    top: 0px;       
}