.main-button {
    display: inline-block;
    background-color: #011627;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #252422;
    margin: 0px;
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
    color: #fdfffc;
    cursor: pointer;
    }
.main-button:hover {
    background-color: #e71d36;
    transform: scale(1.1);
}
.Download {
    display: inline-block;
    background-color: #011627;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #252422;
    margin: 0px;
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
    color: #fdfffc;

}
.Download:hover {
    background-color: #f3c32b;
    transform: scale(1.1);

}
.main-button.-enviar {
    width: 100%;
}
.main-button.-enviar:hover {
    background-color: #e71d36;
    transform: scale(1.01);

}
