.section {
    background-color: #e71d36;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #011627;
}
.section .main-title {
    margin-bottom: 50px;
}
.section-projects {
    background-color: #011627;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #011627;
}