.wrapper-skill {
    display: flex;
    flex-wrap: wrap;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}
.wrapper-skill .Skill-Tech {
    width: 430px;
}
.wrapper-skill .Skill-Tech:nth-child(odd) {
    margin-right: 90px;

}
.wrapper-skill .progress-bar {
    width: 320px;
}